<%- include("header") -%>
<div class="container">
    <h1 class="heading">Thank you</h1>
    <span class="heading__span"></span>

    <div class="wrapper">
        <h3>Thank you:  <%= email %> </h3>
        <p>We will contact you about the:</p>
        <p> <%= location %> trip on the <%= tripDate %>  </p>

    </div>
</div>
<%- include("footer") -%>